<body style="background-color:black; margin-top: 100px; margin-right: 20px;">
   extra &nbsp;&nbsp; space
   extra &nbsp;&nbsp; space
   extra &nbsp;&nbsp; space
   extra &nbsp;&nbsp; space
   extra &nbsp;&nbsp; space
   <center>
      <table width="100%">
         <tbody>
            <tr>
               <td align="center" valign="bottom"> 
               <!-- From (internal) -->
                  <p align="center"><img src="star_card" henvironment="220" width="140" style="transform: rotate(star_rotate);" ></p>
                  <center>
                     <table cols="3" width="600">
                        <tbody>
                           <tr>
                              <td align="center" valign="center">
                                 <div align="center" class="style3">
                                 <!-- From (external) -->
                                 <p align="center"><img src="from_card" henvironment="220" width="140" style="transform: rotate(from_rotate);" ></p>
                              <td align="center" valign="center">
                                 <div align="center" class="style3">
                                 <!-- Center -->
                                 <p align="center"><img src="bridge_card" henvironment="220" width="140" style="transform: rotate(bridge_rotate);" ></p>
                              <td align="center" valign="center">
                                 <div align="center" class="style3">
                                 <!-- Toward (external) -->
                                 <p align="center"><img src="toward_card" henvironment="220" width="140" style="transform: rotate(toward_rotate);" ></p>
                           </tr>
                        </tbody>
                     </table>
                  </center>
                  <!-- Toward (internal) -->
                  <p align="center"><img src="water_card" henvironment="220" width="140" style="transform: rotate(water_rotate);" ></p>
            </tr>
         </tbody>
      </table>
   </center>
</body>