<body style="background-color:black; margin-top: 100px; margin-right: 20px;">
   <center>
   <table border="0" cellspacing="0" cellpadding="5" cols="2" width="20">
   <tbody>
      <tr>
         <td align="center" valign="center" width="150">
            <center>
               <table width="100%">
                  <tbody>
                     <tr>
                        <td align="center" valign="bottom"> 
                           <!-- From (internal) -->
                           <p align="center"><img src="above_card" henvironment="220" width="140" style="transform: rotate(above_rotate);" ></p>
                           <center>
                              <table cols="4" width="600">
                                 <tbody>
                                    <tr>
                                       <td align="center" valign="center">
                                          <div align="center" class="style3">
                                          <!-- From (external) -->
                                          <p align="center"><img src="from_card" henvironment="220" width="140" style="transform: rotate(from_rotate);" ></p>
                                       <td align="center" valign="center">
                                          <div align="center" class="style3">
                                          <!-- Center -->
                                          <p align="center"><img src="center_card" henvironment="220" width="140" style="transform: rotate(center_rotate);" ></p>
                                       <td align="center" valign="center" style="position: relative;">
                                          <div align="center" class="style3">
                                          <!-- Cross -->
                                             <p align="center"><img src="cross_card" henvironment="220" width="140" style="transform: rotate(cross_rotate); position: absolute; top: 1px; left: -168px;"></p>
                                       <td align="center" valign="center">
                                          <div align="center" class="style3">
                                          <!-- Toward (external) -->
                                          <p align="center"><img src="toward_card" henvironment="220" width="140" style="transform: rotate(toward_rotate);" ></p>
                                    </tr>
                                 </tbody>
                              </table>
                           </center>
                           <!-- Toward (internal) -->
                           <p align="center"><img src="below_card" henvironment="220" width="140" style="transform: rotate(below_rotate);" ></p>
                     </tr>
                  </tbody>
               </table>
            </center>
         </td>
         <td align="left" valign="center" width="140">
            <center>
               <table border="0" cellspacing="0" cellpadding="2" width="100%">
                  <tbody>
                     <tr>
                        <!-- Advice -->
                        <p align="center"><img src="advice_card" henvironment="220" width="140" style="transform: rotate(advice_rotate);" ></p>
                     </tr>
                     <tr>
                        <!-- Hopes and fears -->
                        <p align="center"><img src="hopesfears_card" henvironment="220" width="140" style="transform: rotate(hopesfears_rotate);" ></p>
                     </tr>
                     <tr>
                        <!-- Environment, now -->
                        <p align="center"><img src="environment_card" henvironment="220" width="140" style="transform: rotate(environment_rotate);" ></p>
                     </tr>
                     <tr>
                        <!-- You, now -->
                        <p align="center"><img src="self_card" henvironment="220" width="140" style="transform: rotate(self_rotate);" ></p>
                     </tr>
                  </tbody>
               </table>
            </center>
         </td>
      </tr>
</body>