<body style="background-color:black; margin-top: 100px; margin-right: 20px;">
   extra &nbsp;&nbsp; space
   extra &nbsp;&nbsp; space
   extra &nbsp;&nbsp; space
   extra &nbsp;&nbsp; space
   extra &nbsp;&nbsp; space
   <center>
      <table width="100%">
         <tbody>
            <tr>
               <td align="center" valign="bottom"> 
                  <p align="center"><img src="top_card" henvironment="220" width="140" style="transform: rotate(top_rotate);" ></p>
                  <center>
                     <table cols="3" width="490">
                        <tbody>
                           <tr>
                              <td align="center" valign="center">
                                 <div align="center" class="style3">
                                 <p align="center"><img src="left_card" henvironment="220" width="140" style="transform: rotate(left_rotate);" ></p>
                              <td align="center" valign="center">
                                 <div align="center" class="style3">
                                 <p align="center"><img src="center_card" henvironment="220" width="140" style="transform: rotate(center_rotate);" ></p>
                              <td align="center" valign="center">
                                 <div align="center" class="style3">
                                 <p align="center"><img src="right_card" henvironment="220" width="140" style="transform: rotate(right_rotate);" ></p>
                           </tr>
                        </tbody>
                     </table>
                  </center>
                  <p align="center"><img src="bottom_card" henvironment="220" width="140" style="transform: rotate(bottom_rotate);" ></p>
            </tr>
         </tbody>
      </table>
   </center>
</body>