<body style="background-color:black; margin-top: 100px; margin-right: 20px;">
   <center>
      <table cols="3" width="600">
         <tbody>
            <tr>
               <td align="center" valign="center">
                  <div align="center" class="style3">
                  <!-- From (external) -->
                  <p align="center"><img src="left_card" henvironment="275" width="175" style="transform: rotate(left_rotate);" ></p>
               <td align="center" valign="center">
                  <div align="center" class="style3">
                  <!-- Center -->
                  <p align="center"><img src="middle_card" henvironment="275" width="175" style="transform: rotate(middle_rotate);" ></p>
               <td align="center" valign="center">
                  <div align="center" class="style3">
                  <!-- Toward (external) -->
                  <p align="center"><img src="right_card" henvironment="275" width="175" style="transform: rotate(right_rotate);" ></p>
            </tr>
         </tbody>
      </table>
   </center>
</body>